extends layout

block content
    h1 Ajout d'une nouvelle randonnée 

    if message && message.type==='error'
        .alert.alert-danger 
            h3.alert-heading=message.title
            p=message.description
            if message.errors
                ul 
                    each error in message.errors 
                        li=error

    if message && message.type==='success'
        .alert.alert-success 
            h3.alert-heading=message.title
            p=message.description

    if !message || message.type!=="success"
        form(action="/randonnees/ajout" method="POST" enctype="multipart/form-data") 
            .mb-3 
                label.form-label(for="title") Titre
                input#title.form-control(name="title" value=formData.title)

            .mb-3 
                label.form-label(for="duration") Durée en minutes
                input#duration.form-control(name="duration" value=formData.duration)

            .mb-3 
                label.form-label(for="distance") Distance en killomètres
                input#distance.form-control(name="distance" value=formData.distance)

            .mb-3 
                label.form-label(for="start") Ville de départ
                input#start.form-control(name="start" value=formData.start)

            .mb-3 
                label.form-label(for="postCode") Code postal
                input#postCode.form-control(name="postCode" value=formData.postCode)

            .mb-3 
                label.form-label(for="difficulty") Difficulté
                select#difficulty.form-select(name="difficulty" )
                    option(value="easy" selected=formData.difficulty==="easy") Facile 
                    option(value="medium" selected=formData.difficulty==="medium") Moyenne 
                    option(value="hard" selected=formData.difficulty==="hard") Difficile

            .form-check.form-switch.mb-3 
                label.form-check-label(for="isLoop" role="switch") Cette rando fait une boucle ? 
                input#isLoop.form-check-input(name="isLoop" type="checkbox" role="switch" checked=formData.isLoop)

            .mb-3
                label.form-label(for="image") Image de la randonnée 
                input#image.form-control(name="image" type="file", value=formData.image)

            .mb-3 
                label.form-label(for="description") Description et itinéraire
                textarea#description.form-control(name="description",  rows="10" )=formData.description

            .mb-3.text-center 
                input.btn.btn-primary(type="submit" value="Ajouter")                                        